<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Align">
  <div class="ion-padding">
    <img src="../../assets/images/quiz.jpg" width="100%" height="auto">
  </div>
  <ion-card>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required="required"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required="required"></ion-input>
    </ion-item>

    <!-- <ion-button (click)="login()" [routerLink]="['/home']" shape="round">Login</ion-button><br>
    <ion-button [routerLink]="['/signup']" shape="round">Register</ion-button><br>
    <a (click)="resetepassword()">Forgot Password?</a> -->

    <div padding text-center>
      <ion-button *ngIf="email && password " ion-button color="primary" shape="round" (click)="login()">Login</ion-button><br>
     <!-- Show dead button if form is not filled -->
     <ion-button *ngIf="!email && !password" ion-button color="danger" clear shape="round">Login Now</ion-button><br>
     <!-- other buttons -->
     <ion-button [routerLink]="['/signup']" shape="round">Register</ion-button><br>
     <a (click)="resetepassword()">Forgot Password?</a>
    </div>
  </ion-card>
  

</ion-content>

<!-- <div padding text-center>
  <button *ngIf="email && password " ion-button color="danger" round (click)="submitLogin()">
   Login</button>
  Show dead button if form is not filled 
 <button *ngIf="!email && !password" ion-button color="danger" clear round>Login Now</button>
</div> -->
