<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-title>
      TcF Quiz<br>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Align">
  <div class="ion-padding">
    <img src="../../assets/images/quiz.jpg" width="100%" height="auto">
  </div>
  <!-- <div *ngFor = "let users of username">
    <p>Sure {{ users.name }}</p>
  </div> -->
  <ion-button [routerLink]="['/category']" shape="round">Quiz Category</ion-button><br>
  <ion-button [routerLink]="['/results']" shape="round">See Results</ion-button><br>
  <ion-button (click)="logout()" shape="round">Log Out</ion-button>
</ion-content>
